#title, a {
     font-weight: bold;
}

#percent{
     color:rgb(106, 183, 255);
}

div{
     background-image: url("https://4kwallpapers.com/images/wallpapers/blue-mountains-foggy-mountain-range-landscape-scenery-5k-5120x2880-5939.jpg");
     background-repeat: no-repeat;
}


