#title, a {
     font-weight: bold;
}

#percent{
     color:rgb(106, 183, 255);
}

div{
     background-image: url("https://free4kwallpapers.com/uploads/originals/2020/10/19/minimal-dark-coding-wallpaper.png");
}


