#title, a {
     font-weight: bold;
}

#percent{
     color:rgb(106, 183, 255);
}

div{
     background-image: url("https://4kwallpapers.com/images/wallpapers/mountains-winter-daytime-glacier-blue-mountain-range-5k-5120x2880-1248.jpg");
}


