.a {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     font-weight: 400px;
     text-align: center;
     background: #919191;
     margin: 0 0 25px;
     overflow: hidden;
     padding: 20px;
     border-radius: 0px 0px 35px 0px;     
     border: 2px solid #000000;
}