.a {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;       
     background: #919191;
     overflow: hidden;
     border-radius: 100px 100px 350px 0px;
     width: 100px;
     height: 80px;   
     align
     
    
   
}
