.a {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #919191;
     border-radius: 0px 0px 2000px 0px;
     width: 150px;
     height: 80px;
     position: absolute;
     top: 10%;
     left: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.b {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #919191;
     border-radius: 100px 100px 350px 0px;
     width: 100px;
     height: 80px;
     position: absolute;
     top: 10%;
     left: 30%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.c {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #919191;
     border-radius: 100px 100px 350px 0px;
     width: 100px;
     height: 80px;
     position: absolute;
     top: 10%;
     left: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}