#title{
     font-weight: bold;
     font-size: x-large;
     text-align: center;
}

.table{     
     margin-left: auto
     ;
     margin-right: auto;
}

#colores{
     background-color: rgb(86, 255, 8);
     text-align: center;
}