#title , #colors_letters {
     font-weight: bold;
     font-size: x-large;
     text-align: center;
}

.principal {
     display: grid;
     place-content: center;
}

.table {
     border: 1px;
     width: 500px;
}

#colores {
     background-color: rgb(82, 168, 42);
     text-align: center;
}

.black {
     background-color: black;
}

.celeste {
     background-color: rgb(55, 163, 163);
}

.blue {
     background-color: blue;
}

.navy {
     background-color: navy;
}

.lime {
     background-color: lime;
}

.purple {
     background-color: purple;
}

.yellow {
     background-color: yellow;
}

.olive {
     background-color: olive;
}

.red {
     background-color: red;
}

.grayO {
     background-color: rgb(73, 73, 73);
}

.gray {
     background-color: gray;
}

.fuchsia {
     background-color: fuchsia;
}

.green {
     background-color: green;
}

p {
     text-align: center;
}

#black {
     color: black;
}

#teal {
     color: teal;
}

#blue {
     color: blue
}

#navy {
     color: navy;
}

#lime {
     color:lime;     
}

#white {
     color: white;
}

#purple {
     color:purple;
}

#yellow {
     color: yellow;
}

#
