p{
     background-color: blueviolet;
     border-style: dashed;
     border-width: 2px;
     margin: 50px;
     font-style: bold;
     padding: 60px;
     margin-right: 220px;
     text-align: center;
     font-family: fantasy;
     font-size: ;

}