.a {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #646464;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 0px   #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.b {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #646464;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 5px   #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 35%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.c {     
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #646464;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 0px 5px #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 60%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.d {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 6px 5px #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 10%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.e {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: 0px 0px 3px 1px #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 35%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.f {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: 0px 0px 3px 4px #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 60%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.g {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: inset -5px -5px 0px 1px #888;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 37%;
     left: 10%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.h {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: inset -5px -5px 3px 1px #888;;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 37%;
     left: 35%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.i {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: inset -5px -5px 0px 4px #888;;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 37%;
     left: 60%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.j {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: inset -5px -5px 0px 4px #888;;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 48%;
     left: 10%;     
     display: flex;
     justify-content: center;
     align-items: center;
}