.a {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 0px   #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.b {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #646464;
     font-size: 18px;
     background: rgb(118, 218, 213);
     box-shadow: -5px -5px 0px   #838383;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 35%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.c {     
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #464444;
     border-radius: 0px 0px 25px 0px;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 10%;
     left: 60%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.d {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #464444;
     border-radius: 65px 200px 55px 170px;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 10%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.e {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #464444;
     border-radius: 15px 15px 15px 15px;
     width: 150px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 35%;     
     display: flex;
     justify-content: center;
     align-items: center;
}

.f {
     font-family: sans-serif;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
     color: #ffffff;
     font-size: 18px;
     background: #464444;
     border-radius: 50px 50px 50px 50px;
     width: 80px;
     height: 70px;
     position: absolute;
     top: 22%;
     left: 65%;     
     display: flex;
     justify-content: center;
     align-items: center;
}